<script type="text/html" id="UI">
    <div>
        <div>

        </div>
        <div>

        </div>
    </div>
</script>

<script type="text/html" id="headbar">
    <div class="headbar-container">
        <span class="headbar-title-container">三维管线综合系统</span>
        <span>
            <select>
                <option>Option1</option>
                <option>Option2</option>
            </select>
        </span>
    </div>
</script>

<script type="text/html" id="resourcesbar">
    <div class="resourcesbar-container">
        <div class="resourcesbar-title">
            资源
        </div>
        {{each resources as value i}}
        <div class="resource-container">
            <div class="resource-title">{{value.title}}</div>
            <div class="resource-content">
                <select class="{{value.type}}">
                    {{each value.options as value1 j}}
                    <option value="{{value1.val}}">{{value1.title}}</option>
                    {{/each}}
                </select>
            </div>
        </div>
        {{/each}}

        <div class="databar-title">
            <br />
            数据
        </div>
        <div class="data-container">
            {{each data as value i}}
            <input class="data-check-{{value.abbr}}" type="checkbox" value="{{value.abbr}}" />{{value.title}}<br />
            {{/each}}
        </div>
        <div class="analysisbar-title">
            <br />
            分析
            <div class="analysis">
                <div>碰撞分析</div>
                <select class="features1">
                    {{each data as value i}}
                    <option value="{{value.abbr}}">{{value.title}}</option>
                    {{/each}}
                </select>
                <br />
                <select class="features2">
                    {{each data as value i}}
                    <option value="{{value.abbr}}">{{value.title}}</option>
                    {{/each}}
                </select>
                <br />
                <button class="collision-apply">确认</button>
            </div>
        </div>
    </div>
</script>

<script type="text/html" id="resultsbar">
    <div class="resultsbar-container">
        <div> <span class="resultsbar-close">关闭</span> </div>
        <div class="resultsbar-content">
            <table>
                <tr>
                    <th>#</th>
                    <th>Coordinate</th>
                    <th>要素1</th>
                    <th>于要素1的高程</th>
                    <th>要素2</th>
                    <th>于要素2的高程</th>
                </tr>
                {{each results as value i}}

                <tr>
                    <td>{{i}}</td>
                    <td>[{{value.coordinate[0]}},{{value.coordinate[1]}}]</td>
                    <td></td>
                    <td>{{value.height1}}</td>
                    <td></td>
                    <td>{{value.height2}}</td>
                </tr>
                {{/each}}
            </table>
        </div>

    </div>
</script>

<script type="text/html" id="editor">
    <div class="editor-container">
        <div class="header-container">
            <span class="headbar-title-container"></span><span class="editor-close">关闭</span>
        </div>
        <div class="body-container">
            <table>
                <tr>
                    <th>属性</th>
                    <th>值</th>
                </tr>
                {{each attributes as value i}}

                {{if value.display==true}}
                <tr>
                    <td>{{value.name}}</td>
                    <td class="editor-val-{{value.name}}" contenteditable="true">{{value.val}}</td>
                </tr>{{/if}}
                {{/each}}
            </table>
        </div>
        <div><button class="editor-apply">确认修改</button></div>
        <div class="editor-result"></div>
    </div>
</script>

<script type="text/html" id="olmap">
    <div class="map-container">
        <div class="map-head">
            <span class="map-collapse">展开/收缩</span>
            <span class="map-title-text"></span>
        </div>
        <div class="map-stat">
            统计类型
            <select class="stat-field">
                <option>管线材质</option>
                <option>埋设时间</option>
                <option>材质</option>
            </select>
            <button class="map-draw">绘制多边形</button>
            <button class="stat-polygon">统计多边形</button>
            <button>统计全部</button>
        </div>
        <div id="map" class="map">

        </div>
    </div>
</script>