<script type="text/html" id="UI">
    <div>
        <div>

        </div>
        <div>

        </div>
    </div>
</script>

<script type="text/html" id="headbar">
    <div class="headbar-container">
        <span class="headbar-title-container">三维管线综合系统</span>
        <span>
            <select>
                <option>Option1</option>
                <option>Option2</option>
            </select>
        </span>
    </div>
</script>

<script type="text/html" id="resourcesbar">
    <div class="resourcesbar-container">
        <div class="resourcesbar-title">
            资源
        </div>
        {{each resources as value i}}
        <div class="resource-container">
            <div class="resource-title">{{value.title}}</div>
            <div class="resource-content">
                <select class="{{value.type}}">
                    {{each value.options as value1 j}}
                    <option value="{{value1.val}}">{{value1.title}}</option>
                    {{/each}}
                </select>
            </div>
        </div>
        {{/each}}
    </div>
</script>