body {
}

.headbar-container {
    position: absolute;
    background-color: rgba(128, 128, 128, 0.50);
    z-index: 10;
    top: 0;
    left: 0;
}

.resourcesbar-container {
    cursor: default;
    user-select: none;
    position: absolute;
    left: 0;
    top: 30%;
    background-color: white;
}

.resultsbar-container {
    font-family: nsimsun;
    font-size: 9px;
    top: 10%;
    left: 50%;
    overflow-y: scroll;
    min-width: 400px;
    z-index: 200;
    position: absolute;
    background-color: white;
}

.editor-container {
    background-color: white;
    position: absolute;
    font-family: nsimsun;
    font-size: 9px;
    top: 100px;
    left: 500px;
}

.body-container {
    overflow-y: scroll;
    max-height: 200px;
}
