body {
}

.headbar-container {
    position: absolute;
    background-color: rgba(128, 128, 128, 0.50);
    z-index: 10;
    top: 0;
    left: 0;
}

.resourcesbar-container {
    min-width: 200px;
    cursor: default;
    user-select: none;
    position: absolute;
    left: 0;
    top: 0;
    background-color: white;
}

.resultsbar-container {
    /*font-family: nsimsun;*/
    /*font-size: 9px;*/
    top: 0;
    left: 210px;
    min-width: 320px;
    z-index: 200;
    position: absolute;
    background-color: white;
}

.resultsbar-content {
    min-height: 300px;
    max-width: 375px;
    overflow-x: scroll;
    overflow-y: scroll;
}

.editor-container {
    background-color: white;
    position: absolute;
    font-family: nsimsun;
    font-size: 9px;
    top: 100px;
    left: 500px;
}

.body-container {
    overflow-y: scroll;
    max-height: 200px;
}

.map-container {
    left: 840px;
    position: absolute;
    /* right: 0px; */
    top: 0;
    background-color: white;
    /*height: 220px;*/
    width: 500px;
}

.map-head {
    min-height: 10%;
}

.map-stat {
    min-height: 10%;
}

.map {
    height: 80%;
}

.container {
    user-select: none;
    cursor: default;
    color: rgba(250,250,200,1);
    background-color: rgba(50,150,200,0.7);
    border-radius: 0.5em;
    border: 4px rgba(50,200,150,0.6) solid;
}

.cesium-viewer-toolbar {
    opacity: 0;
}

table, th, td {
    border: 1px solid black;
}
